body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: aliceblue;
    font-family: sans-serif;
}

.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;   /* In order to "hide" the extra hovering */

}

.btn span{
    position: relative;
    z-index: 1; /* The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. */
}

.btn::before{   /* The ::before pseudo-element is used to create a circular shape with a background color of orangered and dimensions of 20px by 20px. */
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);  /* The var() function is used to reference a CSS variable. */
    top: var(--yPos);   /* I can change the variables inside the js script */
    transform: translate(-50%, -50%);   /* The translate() method moves an element from its current position. */
    border-radius: 50%;
    transition: 0.5s;   /* The transition property specifies the speed curve of the transition effect. */
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}